@import "../variables.scss";

.card-item {
  height: fit-content;
  margin: 1rem;
  
  &:hover img {
    filter: brightness(80%);
  }
  
  img {
    width: 270px;
    margin-bottom: 0.5rem;
    transition-duration: 200ms;
  }

  p {
    margin: 0;
  }

  .item-name {
    font-weight: 600;
  }
}