@import "../variables.scss";

.Footer {
  @include flex-center;
  flex-direction: column;
  justify-content: space-around;
  font-family: $primary-font;
  background-color: $beige;
  margin-top: 2rem;

  .footer-items {
    @include flex-center;
    flex-direction: row;
    height: 50px;
    background-color: $white;
    width: 100%;
    
    a {
      @include flex-center;
      padding-left: 1rem;
      padding-right: 1rem;
      font-size: 16px;
      font-weight: 500;
      height: 100%;
      transition-duration: 200ms;

      &:hover {
        background-color: $yellow;
        color: $white;
      }
    }
  }

  .socials {
    @include flex-center;

    a {
      color: $black;
      margin: 1rem;
      font-size: larger;
      
      i {
        transition-duration: 200ms;
      }

      &:hover i {
        color: $yellow;
      }
    }
  }

  .developer {
    margin: 0 1rem 1rem 1rem;
    
    a {
      transition-duration: 200ms;
    }

    &:hover a {
      text-decoration: underline;
      color: $yellow;
    }
  }
}